<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <div id="markdownTitle"><p><%= markdownTitle %></p></div>
    <div id="markdownBody"><p><%= markdownBody %></p></div>
</body>
</html>